body {
  align-items: center;
  width: 100%;
  font-family: "montserrat";
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button {
  cursor: pointer;
}
p {
  color: #737373;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.204px;
  text-align: left;
}
h1,
h2,
h3 {
  color: #252b42 !important;
}
h5 {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.10000000149011612px;
  text-align: left;
}
ul {
  display: flex;
  justify-content: space-between;
}
ul .navbar-labels {
  display: flex;
  align-items: center;
}
ul .navbar-labels h1 {
  color: black;
  font-weight: 700 !important;
  letter-spacing: 0 !important;
  font-family: sans-serif;
}
ul li {
  list-style: none;
}
ul li a {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.204px;
  text-align: center;
  text-decoration: none;
  padding: 10px 30px;
  color: #737373;
}
ul li :nth-child(1) {
  padding-left: 0;
}
.main-container {
  width: 100%;
  text-align: -webkit-center;
  padding-top: 10px;
  height: 100vh;
  position: relative;
  background-image: url("./assets/images/Background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.container {
  width: 80%;
  margin-top: 10px;
}
.buttons-group {
  margin-right: 13rem;
}
.buttons-group button {
  height: 52px;
  width: 137px;
  border: none;
  border-radius: 5px;
}
.buttons-group .login-button {
  background-color: transparent;
  color: #96bb7c;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.204px;
}
.login-button:hover {
  border: 0.5px solid #96bb7c;
  transition: 0.4s ease-out;
}
.buttons-group .join-button {
  font-weight: 700;
  background-color: #96bb7c;
  color: white;
}
@media (max-width: 1366px) {
  .buttons-group {
    margin-right: 0 !important;
  }
}
@media (max-width: 1152px) {
  ul li a {
    padding: 10px 20px;
  }
}
@media (max-width: 1208px) {
  .buttons-group button {
    width: 130px;
  }
  .container {
    width: 90%;
  }
  .hero-section-container {
    width: 90% !important;
  }
}
@media (max-width: 1028px) {
  .buttons-group button {
    width: 99px;
    height: 45px;
  }
  .container {
    margin-top: 0;
  }
  .header-button-arrow {
    margin-left: 0.5rem !important;
  }
}
@media (max-width: 1240px) {
  .hero-section-cards {
    gap: 5px;
  }
}

@media (max-width: 938px) {
  ul li a {
    padding: 10px;
  }
}
.menu-icon {
  display: none;
}
.menu-icon h1 {
  text-align: right;
  margin-right: 30px;
}
.menu-icon h1:active {
  color: blue;
}

.menu-items {
  display: none;
  flex-direction: column;
  position: absolute;
  width: 100%;
}
@media (max-width: 768px) {
  .container {
    display: none;
  }
  .menu-icon {
    display: block;
  }
  .menu-items {
    display: none;
  }
}
.menu-items a {
  text-decoration: none;
  color: black;
  width: 100%;
  padding: 10px 20px;
  background-color: #eff8ed;
}
.menu-items h3 {
  text-decoration: none;
  width: 100%;
  padding: 10px 20px;
  background-color: #eff8ed;
}

.menu-items button {
  width: 100%;
  height: 45px;
  border-radius: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  border: none;
}
.login-wrapper {
  background-color: #eff8ed;
}
.login-wrapper button {
  background-color: transparent;
  align-items: center;
}
.join-wrapper {
  background-color: #eff8ed;
}
.join-wrapper button {
  align-items: center;
  background-color: #96bb7c;
  color: white;
}

@media (max-width: 426px) {
  .login-wrapper {
    padding: 0px;
  }
  .join-wrapper {
    padding: 0;
  }
  .menu-items button {
    width: 100%;
    border-radius: 0;
  }
}
.hero-section-items {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.hero-section-items h5 {
  color: #96bb7c;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.10000000149011612px;
  text-align: left;
}

.hero-section-items h1 {
  font-family: sans-serif;
  font-size: 58px;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: 0.2px;
  text-align: left;
}
.hero-section-items h4 {
  color: #737373;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0.2px;
  text-align: left;
}
.hero-section-buttons-group {
  display: flex;
  gap: 10px;
}
.hero-section-buttons-group button {
  padding: 15px, 40px, 15px, 40px;
  height: 52px;
  width: 193px;
  border: none;
  border-radius: 5px;
  font-weight: 700;
  outline: 0.5px solid #96bb7c;
}
.hero-section-buttons-group :nth-child(1) {
  background-color: #96bb7c;
  color: white;
}
.hero-section-buttons-group :nth-child(2) {
  color: #96bb7c;
  background-color: transparent;
}
.hero-section-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}
.hero-section-image-wrapper img {
  width: 100%;
  height: auto;
}
@media (max-width: 950px) {
  .hero-section-items h1 {
    line-height: 65px;
    font-size: 39px !important;
  }
  .hero-section-container {
    margin-top: 80px;
  }
}
@media (max-width: 900px) {
  .hero-section-image-wrapper img {
    width: auto;
  }
  .hero-section-items h1 {
    font-size: 50px;
    line-height: 55px;
    letter-spacing: 0.2px;
    text-align: left;
    padding: 10px 0px;
  }
}
@media (max-width: 768px) {
  .hero-section-container {
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 415px) {
  .hero-section-container {
    margin-top: 40px !important;
  }
  .hero-section-image-wrapper img {
    min-width: 300px !important;
    min-height: auto;
    width: 300px;
  }
  .main-container {
    padding-top: 0%;
  }
}
@media (max-width: 325px) {
  .hero-section-items h1 {
    font-size: 35px !important;
  }
}
.hero-section-cards {
  display: flex;
  justify-content: space-between;
  width: 80%;
}
.card-1,
.card-2,
.card-3,
.card-4 {
  background-color: white;
  margin-top: -4rem;
}
.hero-section-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 296px;
  max-width: 328px;
  padding: 35px 40px 35px 40px;
  gap: 20px;
  box-shadow: 0px 13px 19px 0px #00000012;
}
.hero-section-cards .hero-section-card h3 {
  text-align: left;
}
.hero-section-cards .hero-section-card p {
  text-align: left;
}
.span-tag {
  display: block;
  background-color: #e74040;
  height: 2px;
  width: 50px;
}
.approdable-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 40px 0px;
  flex-wrap: wrap;
}
.new-span-tag {
  display: block;
  background-color: #e74040;
  height: 7px;
  width: 94px;
}
.approdable-section .labels-section h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0.2px;
  text-align: left;
}
.approdable-section .labels-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 15px;
}
.approdable-section .labels-section p {
  max-width: 380px;
  text-align: initial;
}
.approdable-section .labels-section h2 {
  max-width: 380px;
}
.learn {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.2px;
  text-align: left;
  color: #96bb7c;
}
.chevron-label {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
.approdable-section-2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 40px 0px;
  flex-wrap: wrap;
}
.approdable-section-2 .labels-section h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0.2px;
  text-align: left;
}
.approdable-section-2 .labels-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 15px;
}
.approdable-section-2 .labels-section p {
  max-width: 380px;
  text-align: initial;
}
.flex-cards-header {
  margin-top: 8rem;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px 0px;
}
.flex-cards-header h1 {
  text-align: left;
  font-family: sans-serif;
  font-size: 45px;
}
.flex-cards-header p {
  max-width: 380px;
  text-align: left;
}
.flex-card-star-wrapper {
  background-color: #252b42;
  width: 60px;
  height: 30px;
  border-radius: 30px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
}
.flex-card-star-image-label {
  color: white;
}

.flex-card-star-wrapper h6 {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.2px;
  text-align: left;
}

.card-label-vectorDown-wrapper {
  display: flex;
  gap: 0.5rem;
}
.card-label-vectorDown-wrapper h6 {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.204px;
  text-align: left;
  color: #737373;
}
.card-label-price {
  display: flex;
  gap: 0.5rem;
}
.card-label-price :nth-child(1) {
  color: #bdbdbd;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.10000000149011612px;
  text-align: center;
}
.card-label-price :nth-child(2) {
  color: #ffab71;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.10000000149011612px;
  text-align: center;
}
.instruct-div {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.flexbox-section-1 {
  max-width: 240px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}
.flex-section-learn-button {
  background-color: transparent;
  color: #96bb7c;
  border: 0.5px solid #96bb7c;
  padding: 10px 30px;
  border-radius: 30px;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.courses-section {
  margin: 8rem 0px;
  width: 80%;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.courses-section h6 {
  color: #96bb7c;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.2px;
  text-align: left;
}
.courses-section h2 {
  font-family: sans-serif;
  font-size: 45px;
}
.courses-section p {
  max-width: 30%;
}
.user-cover-section {
  width: 80%;
  display: flex;
  justify-content: space-around;
}
.user-cover-section .user-cover-1 .user-cover-1-img {
  border-radius: 100%;
}
.user-cover-section .user-cover-1 {
  max-width: 23%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
.user-cover-section .user-cover-2 {
  max-width: 23%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.user-cover-section h6 {
  color: #737373;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.204px;
  text-align: center;
}

.bottom-section {
  background-color: #fff2f3;
  height: 594px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 8rem 0px;
}
.bottom-section h6 {
  color: #96bb7c;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.204px;
  text-align: center;
}
.bottom-section h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.10000000149011612px;
  text-align: center;
  font-family: sans-serif;
}
.bottom-section p {
  text-align: center;
  max-width: 30%;
}
.bottom-section .submission-section {
  display: flex;
  margin-top: 45px;
}
.bottom-section .submission-section input {
  border: none;
  width: 670px;
  height: 58px;
  background-color: #f9f9f9;
  border: 1px solid #e6e6e6;
  padding-left: 10px;
  outline: none;
  font-family: "montserrat";
}
.bottom-section .submission-section button {
  height: 58px;
  width: 150px;
  border: none;
  background-color: #96bb7c;
  color: white;
  border-radius: 5px;
}
footer .main-footer-section {
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin-bottom: 8rem;
}
.footer-section-1,
.footer-section-2,
.footer-section-3,
.footer-section-4,
.footer-section-5 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer-section-5 {
  align-items: center;
}
.footer-section-5 h5 {
  width: 100%;
}

.bottom-footer {
  height: 74px;
  background-color: #fafafa;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.bottom-footer h6 {
  font-size: 14px;
  font-weight: 700;
  color: #737373;
}

.bottom-footer .bottom-footer-social-logoz {
  display: flex;
  gap: 1rem;
}

.facebook-icon,
.twitter-icon,
.insta-icon,
.envelop-icon,
.location-icon,
.phone-icon {
  color: #96bb7c;
  font-size: 23px;
}
